
.res-Card{
    /* border: 2px solid black; */
    width: 220px;
    margin: 35px;
    border-radius: 10px;
    box-sizing:border-box;
    background-color: rgba(209,126,10,1);

}
.food-img{
    width: 100%;
    height: 40%;
   
    border-radius: 8px;
}
.res-Card:hover{
    cursor: pointer;
    border: 5px solid black;
}
.res-details{
    margin-top: 0px;
    margin-left: 3px;
}
