/* Base styling for the card */
.res-Card {
    width: 350px;
    height: 440px;
    background: linear-gradient(135deg, #f9f9f9, #eaeaea);
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

/* Hover effect for the card */
.res-Card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.15);
}

/* Styling for the image inside the card */
.food-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid #dcdcdc;
    border-radius: 25px 25px 0 0;
    transition: transform 0.4s ease;
}

/* Hover effect for the image */
.res-Card:hover .food-img {
    transform: scale(1.05);
}

/* Details section styling */
.res-details {
    padding: 10px;
    flex-grow: 1;
    text-decoration: none !important;
}

/* Title styling */
.res-details h2 {
    font-size: 1.7rem;
    margin-bottom: 5px;
    color: #0d0d0d;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-decoration: none !important;
}

/* Subtitle styling */
.res-details h4 {
    font-size: 1.1rem;
    margin: 0px 0;
    color: #0f2c2e;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

/* First subtitle styling */
.res-details h4:first-of-type {
    color: #0f2c2e;
    font-weight: 500;
}

/* Last subtitle styling */
.res-details h4:last-of-type {
    margin-top: 0px;
    font-weight: 500;
    color: #0f2c2e;
}

/* Line height for h4 elements */
.res-Card .res-details h4 {
    line-height: 1.7;
} 

/* Link styling to remove underline and apply hover effect */
/* .res-details a {
    color: inherit; 
    text-decoration: none; 
    font-weight: 500;
    transition: color 0.3s ease;
}

.res-details a:hover {
    color: #3498db; 
    text-decoration: none; 
} */

/* Add gradient overlay effect on hover */
.res-Card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
    text-decoration: none;
}

/* Gradient overlay effect on hover */
.res-Card:hover::before {
    opacity: 1;
}
.name{
    text-decoration:dashed;
  

}
